html,body {
    width: 100%;

    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

}

*,
::after,
::before {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
    height: 0.75rem;
    width: 0.75rem;
    background: var(--gradeientblue);

}

::-webkit-scrollbar-thumb {
    background: var(--cyan);
    border-radius: 1rem;
    border: 0.5px solid white;

}

/*-----------------------Gradient Theme-----------------------------------*/
    :root {

        --gradientbg: linear-gradient(   
            30deg,    
            #845ec2,
            #d65db1,
            #6fc5ff,
            #e0ff71,
            #ffc75f,
            #f9ac71,
            #f00fe8
        );
    
        --gradientbg3: linear-gradient(   
            40deg,    
            #845ec2,
            #d65db1,
            #6fc5ff,
            #e0ff71,
            #ffc75f,
            #f9ac71,
            #f00fe8
        );
    
        --gradientbg2: linear-gradient(   
            45deg,    
     
            #e0ff71,
            #ffc75f,
            #6fc5ff
          
        );

        
    /*---------Linear Gradient-------------*/
    --darklighht: linear-gradient(260deg, rgba(0, 0, 0) 0%,  rgba(0, 0, 5) 35%, rgba(23, 22, 22, 1) 100%);
    --darksky: linear-gradient(90deg, rgba(4,1,43,1) 0%, rgba(13,6,130,1) 50%, rgba(4,1,43,1) 100%);
    --darksky2: radial-gradient(circle, rgba(4,1,43,1) 0%, rgba(13,6,130,1) 30%, rgba(4,1,43,1) 90%);
    --preDark: radial-gradient(circle, rgba(20,20,22,1) 0%, rgba(11,11,11,1) 45%, rgba(1,0,8,1) 100%);
    --darkapple: linear-gradient(315deg, #000000 0%, #1c1a1f 74%);
    --darkapple2: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.192) 40%, hwb(264 10% 88%) 74%, hwb(264 10% 88%) 100%);
    --cyan: #4158D0;
    --gradeientblue: linear-gradient(75deg, #07bdff 15%, #0494c9 46%, #087298 75%);

    /*--X-------Linear Gradient-----------X--*/

    /*--------- Color-------------*/
    --darkblue: #04012b;
    --applegreen: #00FF00;
    --dark: #000000;
    --lightDark: #171616;
    --lavander: rgb(90, 20, 160);
    --cyan: #0057FF;
    --orange: #f2ac08;

    /*----X----- Color----------X---*/

    }

/*---X--------------------Gradient Theme----------------------------X-------*/
/*-----------------------Global Style------------------------------------*/
    a {
        text-decoration: none;
        color: white;
    }

    ul {
        list-style: none;
    }

/*----X-------------------Global Style---------------------------------X---*/

/*----------------------------Header-----------------------------------*/

    .nav {
        width: 100%;
        min-height: 11vh;
        height: 0;
        background: transparent;
        border-bottom: 2px solid white;
        box-shadow: 0px 5px 5px var(--dark);
        z-index: 300;
        position: fixed;
        transition: all 3s ease-out;
        margin: 0rem;
        padding: 0rem;

    }

    .fixed-nav {
        background: rgb(3, 51, 154);
        transition: all 3s ease-in-out;
       
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }

    .nav-logo {
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 5px 5px var(--dark);
        padding: 0.5rem;
        border-radius: 2rem;
       
    }

    .nav-toggle {
        display: flex;
        top: 0%;
        left: 85%;
        position: absolute;
        margin: 1rem;
        display: none;
    }

    .nav-list {
        display: flex;
        align-items: center;
        justify-content:center;
        width: 100%;

    }

    .nav-item {
        display: flex;
        margin: 2rem;
        width: 100%;
        padding: 0.5rem;
        justify-content: center;
    }

    .nav-link {
        margin: 1rem;
        font-size: 1.1rem;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: capitalize;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        width: 75px;
        text-align: center;
        transition: all 1.5s ease-in-out;
        
    }

    .nav-link:hover {
        border: 1px solid white;
        border-radius: 2rem;
        box-shadow: 0 5px  5px var(--dark);
        transition: 1s all ease-in-out;
       
    }


    .social-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-width: 260px;
 
    }

    .social-item {
        display: flex;
        margin: 1rem;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        text-align: center;
        transition: all 1s ease-in-out;
        
    }

    .social-link {
        display: flex;
        font-size: 1.1rem;
        margin: 1rem 0.5rem;
        font-size: 1.5rem;
        width: 5px;
        height: 5px;
        padding: 1.1rem;
        justify-content: center;
        align-items: center;
        transition: 1.5s all ease-in-out;

    }

    .social-link:hover {
        border: 1px solid white;
        border-radius: 2rem;
        box-shadow: 0 10px  10px var(--lightDark);
        transition: 1s all ease-in-out;
        
    }

/* ----------------------toggle menu ------------------- */

.show-toggle{

    transform: translateX(0%) !important;
    transition: all 2s ease-in-out !important;
}

.toggle-container {
    display: none;
    width: 200px;
    height: 320px;
    flex-direction: column;
    background: rgba(255, 255, 255, 75%);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 12%;
    text-transform: capitalize;
    border-radius: 0rem 2rem 2rem 0rem;
    box-shadow: 0 5px 5px var(--dark);
    overflow-x: hidden;
    left: 1%;
    font-weight: bold;
    border-top: 3px solid blue;
    border-right: 3px solid blue;
    border-bottom: 3px solid blue;
    opacity: 0%;
    z-index: 2000;
    transition: all 2s ease-in-out;
   
}   

.close-toggle {
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: flex-end;
    flex-direction: row;
    justify-content: center;
    border: 1px solid white;
    padding: 0.2rem;
    left: 75%;
    top: 5%;
    position: absolute;
    border-radius: 6rem;
    box-shadow: 0px 2px 2px var(--dark);
    z-index: 2500;
}

.top {
    margin-top: 10%;
    
}

.toggle-list {
    width: 100%;
    padding: 1rem;
    position: relative;
    height: 100%;

}

.toggle-link {
    margin: 1.5rem;  
    text-align: center;
}

.toggle-link a {
    color: blue;
    letter-spacing: 0.4rem;
   
}

.social-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    flex-direction: row;
    position: relative;

}

.social-item2 {
    flex-direction: row;
    display: flex;
}

.social-link2 {
    margin: 0.5rem;
    font-size: 1.5rem;

}

.social-link2 a {
    color: blue;
}



/* ----X------------------toggle menu ---------------X---- */
/*-------X---------------------Header-----------------------------X------*/

/*---------------------------Title header-----------------------------------------*/

main, .home {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
    width: 100%;
    background-image: url(../images/bg\ back\ simple.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0057FF;
    background-blend-mode:hard-light;

}

    .header-container {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .header-box {
        width: 100%;
        height: 500px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;

    }

     


    .header-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 500px;
        flex-direction: row;

    }

    .my-pic {
        
        z-index: 50;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: 100%;
        width: 100%;
        height: 100%;
        max-width: 520px;
        max-height: 1000px;
        background-size: 80% 120%;
        background-position: top;
        background-repeat: no-repeat;
        margin: 1rem;
        position: relative;
        overflow: hidden;
        animation: bgAnimation2 10s infinite linear alternate;
        top: 2%;

    }

         /*---------------back ground animation------------------------*/
         @keyframes bgAnimation2 {
            0% {
                background-position: 100% 20%;
               
            }
            50% {
                background-position: 70% 60%;
               
            }
            
            750% {
                background-position: 40% 70%;
               
            }
            
            100% {
                background-position: 20% 100%;
            
            }
            
        }
          /*----------X-----back ground animation----------X--------------*/


    .pic-info {
        width: 100%;
        max-width: 400px;
        height: 400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 14%;
        position: absolute;
        margin: 1rem;
        left: 33%;
        z-index: 100;
        
    }

    .circle-inside {
        width: 100%;
        height: 100%;
        border: 3px solid rgb(6, 54, 246);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20rem;
        margin: 1rem;
        max-height: 320px;
        max-width: 320px;
        position: absolute;
        box-shadow: 0 5px 5px var(--dark);
        
    }

    .info-bg {
        
        top: 2%;
        z-index: 50;
        width: 100%;
        height: 100%;
        display: flex;
        max-height: 500px;
        max-width: 550px;
        margin: 1rem;
        justify-content: center;
        align-items: center;
        background-position: bottom;
        background-size: 100% 90%;
        background-repeat: no-repeat;
        position: relative;
        animation: bgAnimation 10s infinite linear alternate;
    }

       /*---------------back ground animation------------------------*/
       @keyframes bgAnimation {
        0% {
            background-position: 100% 10%;
           
        }
        50% {
            background-position: 70% 60%;
           
        }
        
        750% {
            background-position: 50% 70%;
           
        }
        
        100% {
            background-position: 10% 100%;
        
        }
        
    }
      /*----------X-----back ground animation----------X--------------*/


    .ryan-info {
        display: flex;
        width: 350px;
        height: 200px;
        justify-content: center;
        align-items: center;
        border: 3px solid white;
        color: white;
        border-radius: 6rem 0rem 3rem 0rem;
        box-shadow: 0 10px 10px var(--dark);
        transition: all 1s ease-in-out;
        background: transparent;
        text-shadow: 0 2px 2px var(--dark);
        flex-direction: column;
    }

    .ryan-info h2 {
        text-align: center;
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 1rem;
        top: 15%;

    }

    .ryan-info2 {
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        border: 2px solid blue;
        background: rgba(255, 255, 255, 80%);
        border-radius: 5rem;
        flex-direction: column;
        position: absolute;
        padding: 0.5rem;
        box-shadow: 0 10px 10px var(--dark);
        bottom: 0%;
    }

    .ryan-info2 h2 {
        display: flex;
        align-items: top;
        justify-content: center;
        width: 100%;
        height: fit-content !important;
        top: -18%;
        position: relative;
        margin: 0.5rem 0rem;

    }
   

    .button-info {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: -5%;
        position: relative;
    }

    .my-btn2 {

        border: 2.5px solid white;
        border-radius: 2rem;
        background: transparent;
        color: white;
        padding: 0.5rem;
        width: 120px;
        box-shadow: 0 8px 8px var(--dark);
        text-shadow: 0 2px 2px var(--dark);
    }


    .position {
        display: flex;
        text-align: center;
        font-size: 1rem;
        align-items: baseline;
        justify-content: center;
        width: 300px;
        height: 80px;
        position: relative;
        top: 25%;

    }

    .position2 {
        display: flex;
        text-align: center;
        font-size: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        margin-top: -0.5rem;
    }


/*-----X----------------------Title header--------------------------------X---------*/

/*----------------------------Porfolio----------------------------------------*/
#porfolio {
    

    justify-content:center ;
    flex-direction: column;  
    width: 100%;
    height: 100%;
    background-color:var(--orange);
    align-items: center !important;
    box-shadow: 0px 5px 5px var(--dark);

}

.porfolio-container {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:200%;
    height: 100vh;
    flex-direction: column;
    z-index: 150;
    padding: 1rem 0rem;
    position: relative;
    margin: 1rem;

   
}


.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
    scroll-snap-type: mandatory;

}

.snaps-inline > * {
    scroll-snap-align: start;
}

.porfolio-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    text-transform:capitalize;
    z-index: 200;
    width: 100%;
    color: white;
    text-shadow: 02px 2px var(--dark);
    margin: 1rem;
}

.trending-container {

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30;
    overflow-x: auto;
    height: 100%;
    margin: 1rem;
    scroll-behavior: smooth;
    padding: 1rem;
 
    
}

.trending-container::-webkit-scrollbar {
    background: transparent;
}

.trending-container::-webkit-scrollbar-thumb {
    background: #896104;
    border: none;

}

.trending-box {
    width: 350px;
    min-height:250px;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
    border: 3px solid white;
    box-shadow: 0 10px 10px var(--dark);
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: 1s all ease-in-out;
    scroll-behavior: auto;
    color: white;
    
}

.card-title {
    text-shadow: 0 2px 2px var(--dark);
}

.button-info {
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    margin: 1rem;
    align-items: center;
    padding: 1rem;
    font-size: 1.25rem;
    bottom: -10%;
    position: relative;
   
}

.my-btn {

    border: 2px solid white;
    border-radius: 2rem;
    background: transparent;
    color: white;
    padding: 0.5rem;
    width: 120px;
    height: 50px;
    box-shadow: 0 8px 8px var(--dark);
    text-shadow: 0 2px 2px var(--dark);
    z-index: 100;
    top: 40%;
    position: relative;

}

/*-------------button slider--------------*/
.slide-button {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    color: white;
    font-size: 2rem;
    align-items: center !important;
    position: absolute;
    margin-top: -15%;
}

 .next-slide, .prev-slide {
    margin: 1rem;
    border: 4px solid transparent;
    border-radius: 10rem;
    align-items: center;
    height: 30px;
    width: 30px;
    justify-content: center;
    display: flex;
    background-color: transparent;
    box-shadow: 0 2px 2px white;
    transition: 1s all ease-out;

}

.show-btn {
    visibility: visible !important;
}

.prev-slide :hover , .next-slide :hover {

   transition: 0.5s all ease-in-out;
   border-radius: 10rem;
   border: 2px solid transparent;
   box-shadow: 0 10px 10px var(--dark);
   border: 2px solid var(--orange);
   background-color: var(--orange);
 
}

.hide-scroll {

    visibility: hidden;
}

/*-----X--------button slider-------X-------*/


/*----------------------------Porfolio----------------------------------------*/

/*---------------------Modal------------------------------------*/


.modal-container {
    display: none;
    width: 100%;
    height: 110vh;
    background: rgba(28, 26, 31, 50%);
    left: 0;
    top: 0;
    justify-content: center;
    align-items:center;
    z-index: 600;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: all 3s ease-in-out;
}

.show-modal {
    display: flex;
    opacity: 100%;
    visibility: visible;
    transition: all 3s ease-in-out;
}

.modal-box {
    max-width: 100%;
    width: 650px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    flex-direction: row;
    z-index: 600;
    box-shadow: 0 10px 10px var(--dark);
    position: absolute;

}

.img-modal {
    width: 350px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 1rem;
    box-shadow: 0 10px 10px var(--dark);
}

.modal-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    flex-direction: column;
    margin: 1rem;

}

.modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    top: 8%;
    left: 90%;
    position: absolute;
    z-index: 700;
    padding: 0.5rem;
    transition: all 1s ease-in-out;
 
}

.modal-close :hover {
    box-shadow: 0 10px 10px var(--dark);
    background: white;  
    border: 2px solid white;
    padding: 0.25rem;
    border-radius: 8rem;
    transition: all 1s ease-in-out;
}



/*------X---------------Modal---------------------------X---------*/
/*--------------------About Me-----------------------------------*/

#about {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    transition: all 5s ease-in-out;
    flex-wrap: wrap;
}

.about-container {
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/webdesign\ rev.png);
    flex-direction: column;
    overflow: hidden;

}

.about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100;
    color: white;
    text-shadow: 0 2px 2px var(--dark);

}

.about-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.me-pic2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20rem;
    width: 350px;
    height: 350px;
    border: 4px solid rgb(4, 213, 245);
    overflow: hidden;
    margin: 2rem;
    box-shadow: 0 10px 10px var(--dark);
    overflow: hidden;
    position: relative;


}

.img-me {
    transition:  all 2s ease-in-out;
}

.img-me:hover {
    transform: scale(1.1);
    transition:  all 2s ease-in-out;
}

.about-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    max-width: 300px;
    height: 100%;
    max-height:650px;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
    padding: 2rem;

}

.aboutmy-title, .skill-title {
    display: flex;
    justify-content: space-between;
    border: 3px solid rgb(250, 247, 247);
    box-shadow: 0 10px 15px rgb(44, 44, 44);
    padding: 0rem 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background: white;
    transition: 2s ease-in-out;
    color: blue;
    width: 250px;
    height: 50px;
    align-items: center;
    
}

.aboutmy-title h2, .skill-title h2 {
    text-align: left;
    width: 200px;
}

.about-text {
    display: none;
    border: 3px solid rgb(250, 248, 248);
    box-shadow: 0 10px 15px gray;
    padding: 0.5rem 1rem;
    margin: 1rem;
    text-align: center;
    border-radius: 1rem;
    background: white;
    transition: 2s ease-in-out;
    color: rgb(77, 76, 76);
    text-align: center;
    transition: all 2s ease-in-out;
    opacity: 0%;

}

.minus-icon {
    display: none;
}

.this-btn {
    border-style: none;
    width: 50px;
    justify-content: center;
    position: relative;
    margin: 1rem;
    align-items: center;
}

.minus-icon :hover {
    box-shadow: 0 10px 15px rgb(44, 44, 44);
    border-radius: 2rem;
    border: 1px rgba(5, 235, 5, 100%) solid;
    padding: 0.25rem;
    transform: rotate(-90deg);
    transition: 1s all ease-in-out;


}

.plus-icon :hover {
    box-shadow: 0 10px 15px rgb(44, 44, 44);
    border-radius: 2rem;
    border: 1px rgba(5, 235, 5, 100%) solid;
    padding: 0.25rem;
    transform: rotate(180deg);
    transition: 1s all ease-in-out;

}


.show-text .minus-icon {
    display: inline;
}

.show-text .plus-icon {
    display: none;
}

.show-text .about-text {
    display: block;
    transition: all 2s ease-in-out;
    opacity: 100%;
}

/*--------------------My Contact-------------------------*/
#contact{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    width: 100%;
    overflow: hidden;
    background-image: url(../images/video\ editing3.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.contact-title {
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    text-transform: capitalize;
    text-shadow: 0 2px 2px var(--dark);
}

.contact-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}


.contact-address {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: column;
    border: 3px solid white;
    background: var(--orange);
    padding: 1.5rem;
    margin: 1rem;
    width: 300px;
    height:360px;
    color: white;
    box-shadow: 0 5px 5px var(--dark);

 
}

.social-icon2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;

}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: relative;


}

.icon-link li {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    position: relative;

    
}

.icon-link a {
    font-size: 1.6rem;
    color: white;
    background: transparent;
    cursor: pointer;

}

.contact-email {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin: 2rem;
    width: 300px;
    height: 360px;
    background: rgba(255, 255, 255, 50%);
    padding: 1.5rem;
    box-shadow: 0 5px 5px var(--dark);
    text-transform: capitalize;
    color: rgb(3, 51, 154);
    border: 3px solid white;
}

.contact-info {
  
    height: 300px;
    margin: 0.5rem;
    line-height: 1.5rem;
}


.message-email {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    
}

.message-email input {
    width: 280px;
    height: 25px;
    margin: 0.5rem;
    border: 1.5px solid rgb(3, 51, 154);
    padding: 0.5rem;
}

.message-email textarea {

    width: 280px;
    height: 70px;
    margin: 0.5rem;
    resize: none;
    border: 1.5px solid rgb(3, 51, 154);
    padding: 0.5rem;

}

#send {

    border: 2.5px solid white;
    border-radius: 2rem;
    background: transparent;
    color: blue;
    padding: 0.3rem;
    width: 100px;
    box-shadow: 0 5px 5px var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    letter-spacing: 0.4rem;

}

/*--------------------My Contact-------------------------*/

/*-----------------------Footer------------------------*/

.footer-container {
    width: 100%;
    height: fit-content;
    min-height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(3, 51, 154);
    color:  white;
    font-size: 1.2rem;
    position: relative; 
  
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: bottom;
    width: 100%;
    height: 100%;

}

.upbtn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    width: 40px;
    height: 40px;
    border: 1.8px solid white;
    position: absolute;
    left: 85%;
    margin: 1rem;
    border-radius: 10rem;
    box-shadow: 0 10px 10px var(--dark);
    animation: bounce 5s infinite linear alternate;
    z-index: 300;
    border: 1px soldi red;
}

.up-icon {
    width: 25px;

}

@keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

/*-------X----------------Footer-----------------X-------*/


/*---------Viewport @ 900px-------------------------------*/
  @media only screen and (max-width: 900px){

    html,body {

        margin: 0% !important;
        padding: 0% !important;
        box-sizing: border-box;
        overflow-x: hidden !important;
  
    }

    .nav-logo {
        margin-left: 2.5rem;
        padding: 1rem;
    }

    .nav-list{
        display: none;
    }

    .social-icon {
        display: none;
    }

    .nav-toggle {
        display: block;
        
    }

    .ryan-info2 {
        display: block;
    }

    /*---------X-----Nav-------------X-----------*/
    .pic-info {

        max-width: 450px;
        height: 450px;
        justify-content: center;
        align-items: center;
        left: 20%;
       border-radius: 5rem;

    }

      .ryan-info {
        display: none;
      }
  
    .info-bg {
        max-width: 350px;

    }

    .my-pic {
        max-width: 350px;

    }

    /*----------header--------------------------------*/
     .slide-button {
        display: none;
     }

    .trending-box {

        width: 300px;
        min-height: 450px;

    }

    /*------X---------Slider-------------------X------------*/

    /*-----------------About---------------------------------*/

    .me-pic2 {
        width: 300px;
        height: 300px;
        margin: 1rem;
        margin-top: -25%;

    }

    .about-info {
        margin: 1rem;
        padding: 1rem;
    }

    .about-box {
       margin-top: -20%;

    }

/*-----------------Contact---------------------------*/
#contact {
    align-items: top;


}

.contact-container {
flex-direction: column;

}


  }


/*---X------Viewport @ 900px----------------------X---------*/


/*---------Viewport @ 6500px-------------------------------*/

@media only screen and (max-width: 650px) {

    html,body {

        margin: 0% !important;
        padding: 0% !important;
        box-sizing: border-box;
        overflow-x: hidden !important;
  
    }

    
    .pic-info {

        max-width: 450px;
        height: 450px;
        justify-content: center;
        align-items: center;
        left: 10%;
       border-radius: 5rem;

    }

}

/*---------Viewport @ 550px-------------------------------*/

@media only screen and (max-width: 550px) {

    html,body {

        margin: 0% !important;
        padding: 0% !important;
        box-sizing: border-box;
        overflow-x: hidden !important;
  
    }
    
    .pic-info {

        max-width: 450px;
        height: 450px;
        justify-content: center;
        align-items: center;
        left: 5%;
       border-radius: 5rem;

    }

}

/*---------Viewport @ 500px-------------------------------*/

@media only screen and (max-width: 500px) {

    html,body {

        margin: 0% !important;
        padding: 0% !important;
        box-sizing: border-box;
        overflow-x: hidden !important;
  
    }
    
    .pic-info {

        max-width: 450px;
        height: 450px;
        justify-content: center;
        align-items: center;
        left: 2%;
       border-radius: 5rem;

    }

}

@media only screen and (max-width: 450px) {

    html,body {

        margin: 0% !important;
        padding: 0% !important;
        box-sizing: border-box;
        overflow-x: hidden !important;

    }

    section{
        width: 90vw;
        margin-bottom: 30%;
    }
 

    main {

        width: 100%;
        overflow-x: hidden;
        background-size: cover;
        background-position: center;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    
    }

    .nav-menu {
        justify-content: flex-start;

    }

    .nav-toggle {
        left: 74%;
        top: 8%;
    }



    .pic-info {

        max-width: 340px;
        height: 340px;
        justify-content: center;
        align-items: center;
        left: 2%;
       border-radius: 5rem;

    }

    .ryan-info2 {

        width: 300px;
        position: relative;
        bottom: -40%;
    }

    .modal-box {
        width: 350px;
        height: 550px;
        flex-direction: column;
        margin-top: -40%;
    }

    .img-modal {
        width: 300px;
        height: 450px;
        
    }

    .modal-close {
        left: 85%;
        top: 4%;
    }


    .upbtn-icon {
        left: 80%;

    }

    .footer-container {

        height: 50vh;
    }

    .footer-info {

        text-align: center;
        width: 300px;
        margin: 1rem;
        padding: 0;

    }


}


@media only screen and (max-width: 375px) {

    html,body {
        width: 100%;
        margin: 0 !important;   
        padding: 0 !important;
        box-sizing: border-box;
        overflow-x: hidden !important;


    }

    .header {
        width: 100%;
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        overflow-x: hidden;

    }

    section{
        width: 100vw;
    }
 

    main {

        width: 100%;
        overflow-x: hidden;
        background-size: cover;
        background-position: center;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow: hidden;
    
    }

    .nav-menu {
        justify-content: flex-start;

    }

    .nav-toggle {
        left: 74%;
        top: 0%;
    }



    .pic-info {

        max-width: 300px;
        height: 330px;
        justify-content: center;
        align-items: center;
        left: 4%;
       border-radius: 5rem;

    }

    .info-bg {
        max-height: 300px;
        max-width: 300px;

    }

    .ryan-info2 {

        width: 300px;
        position: relative;
        bottom: -40%;
       
    }


    .modal-box {
        width: 350px;
        height: 550px;
        flex-direction: column;
        margin-top: -40%;
    }

    .img-modal {
        width: 300px;
        height: 450px;
        
    }

    .modal-close {
        left: 85%;
        top: 4%;
    }



    .upbtn-icon {
        left: 80%;

    }

    .footer-container {

        height: 50vh;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        margin: 0%;
        padding: 0%;
    }

    .footer-info {

        text-align: center;
        width: 300px;
        margin: 1rem;
        padding: 0;

    }


}
